/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#srztb_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#srztb_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#srztb_window a:link {color: #666666;}
#srztb_window a:visited {color: #666666;}
#srztb_window a:hover {color: #000;}
#srztb_window a:active {color: #666666;}
#srztb_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#srztb_overlay {
	position: fixed;
	z-index:10000;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.srztb_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.srztb_overlayBG {
	background-color:#000;
	filter:alpha(opacity=30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

* html #srztb_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#srztb_window {
	position: fixed;
	background: #ffffff;
	z-index: 10002;
	color:#000000;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
	-moz-box-shadow: 0px 0px 15px #111;
	-webkit-box-shadow: 0px 0px 15px #111;
	box-shadow: 0px 0px 15px #111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

* html #srztb_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#srztb_window img#srztb_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#srztb_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#srztb_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#srztb_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#srztb_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#srztb_title{
	background-color:#e8e8e8;
	height:27px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#srztb_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#srztb_ajaxContent.srztb_modal{
	padding:15px;
}

#srztb_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#srztb_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:10003;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #srztb_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#srztb_HideSelect{
	z-index:9999;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #srztb_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#srztb_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
