.icon-48-moo{
	background: url('../images/moo-48.png') 0 0 no-repeat;
}
.hidden{
	display:none;
}
div.status_dot{
	display:inline-block;
	background:url('../images/shiny_dot.png') 0 0 no-repeat;	width:15px;
	height:15px;
	border-radius:3ex 3ex 3ex 3ex;
}
span.required{color:#ff0000;}
a.btn-primary:link {color: #FFF;}
#adminForm label { text-align:left; min-width:270px; float:left; clear:both; margin-bottom:20px; }
#adminForm select { float:left; }
#adminForm input, #adminForm textarea { float:left; }
#adminForm .crmeryfaux-label { text-align:left; clear: left; display: block; float: left; clear:both; margin: 5px 0; min-width:270px; }
#adminForm .crmeryfield { text-align:left; padding: 0 5px 0 0; display: block; float: left; margin: 5px 0; }
#adminForm input[type="radio"] { margin:0px 10px; }
#adminForm .btn { margin-right:5px; }
#adminForm ul { list-style-type:none; }
#adminForm legend { clear:both; }

#percent { min-width:135px; margin-right:25px; display:inline-block; }
#percent_value { display:inline-block; }
div.colorwheel { margin:5px 5px 5px 0; float:left; width:15px; height:15px; display:inline-block; background:url('../images/colorwheel.png') 0 0 no-repeat; }
div.colorwheel:hover { cursor:pointer; }
td.left {text-align: left;}
div#submenu-box { display:none; }
div#toolbar-box div.m div.pagetitle { width:auto; background: url('../images/moo-48.png') 0 0 no-repeat; height:auto; }
div#header-box ul li a[class^="icon-"], div#header-box ul li a[class*=" icon-"] { width:auto !important; }
.clrboth { clear:both; }

/** Quick Help Menu Styling **/
ul.help_menu {list-style: none; list-style-image: none; margin: 0 0 5px 0; padding: 0px; width: 100%; overflow: hidden; border: 1px solid #d5d6d7; background: #f5f6f7; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
ul.help_menu li.uncompleted {list-style: none; list-style-image: none; margin: 0; padding: 5px 30px; float: left; position: relative; border-right:1px solid #d5d6d7;}
ul.help_menu li.completed {list-style: none; list-style-image: none; margin: 0; padding: 5px 30px; float: left; background: #74b259; position: relative; border-right:2px solid #5d9544;}
ul.help_menu span.completed {border-color: transparent transparent transparent #5d9544; border-style: solid;border-width: 7px; display: block; height: 0; margin-top: -6px; position: absolute; right: -16px; top: 50%; width: 0; z-index: 2;}
ul.help_menu span.completed-inner {border-color: transparent transparent transparent #74b259; border-style: solid;border-width: 6px; display: block; height: 0; margin-top: -6px; position: absolute; right: -3px; top: 0; width: 0; z-index: 2;}
ul.help_menu span.uncompleted {border-color: transparent transparent transparent #d5d6d7; border-style: solid;border-width: 7px; display: block; height: 0; margin-top: -6px; position: absolute; right: -15px; top: 50%; width: 0; z-index: 2;}
ul.help_menu span.uncompleted-inner {border-color: transparent transparent transparent #f5f6f7; border-style: solid;border-width: 6px; display: block; height: 0; margin-top: -6px; position: absolute; right: -4px; top: 0; width: 0; z-index: 2;}
ul.help_menu li.completed a {color: #1d3e0f; text-shadow: 0 0 1px #91ca78;}
.laterButton { margin:0 0 3px 5px !important; }
div.quick-icons { margin-bottom:20px; text-align:center; width:100%; }

/** Help Description **/
div.help_description_action {position:relative; padding: 10px; background: #212121; border: 1px solid #010101; color: #FFF; text-decoration: 0 0 1px #000; overflow: hidden;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; margin: 0 0 20px 0;}
div.help_description_action div.help_text {float: left; width: 25%; padding-right: 30px; }

/** Help Actions **/
div.help_description_action div.help_actions {padding: 20px 0px 15px;}
div.disable_help a { color:#ffffff; }
div.disable_help { position:absolute; top:5px; right:5px; }
div#disable_help_hidden {  }
div.crmerySpan3 { width:200px !important;}
fieldset li, ol#property-values li { padding:0 !important; }
div.rocket { width:250px; height:250px; background:url(../images/rocket.png) no-repeat center center; float:left; margin-right:100px; }
div.launch_text { padding:50px; }
div.launch_text h1 { font-size:24px; }
div.launch_text p { font-size:16px; }

div.step { border-bottom:1px solid #EFEFEF; clear:both; padding:25px; overflow:hidden; }
div.step div.title { float:left; width:200px; font-size:25px; font-weight:bold; }
div.step div.text { float:left; width:65%; }
div.step div.text h2 { }
div.import_buttons { margin-top:15px; float:right; }
div.import_buttons input { display:inline !important; }
input.import_review { width:50px; }
form.inline-form{display:inline; margin-right:10px;}

#import_form label { padding:5px; font-size:16px; margin-right:10px; width:100px; clear:both; float:left; }
#import_form input { float:left; }

div.crmeryRow {overflow:hidden; border-bottom: 1px solid #e5e6e7; padding: 10px 0px;}
div.crmeryField {color: #999999; float: left;}
div.crmeryValue {float: right; text-align: right;}

div#import_review_container { width:600px; }
/**
* IMPORT ENTRIES
*/
#import_entries { clear:both; }
#import_controls { clear:both; }
#import_seek { text-align:right; }
span.label_details { font-size:10px; font-style:italic; }

input.text-area-order { width:25px !important; }

div.twoColumn { width:50%; float:left; }
div.pre_div { width:300px; height:300px; overflow: scroll; overflow-y: scroll; overflow-x: scroll; overflow:-moz-scrollbars-vertical; float:left; }
div.field_checkbox_container { display:none; }
ul.unstyled label { margin:0 !important; margin-bottom:0 !important; min-width:0 !important; }

div.colorpicker input { width:auto !important; }

ul.adminlist li { clear:both; }
div.imap-connection { margin-top:20px; }
.loading{background:url(../images/loading.gif) no-repeat center center transparent !important; width:18px; height:18px; display:block; margin:4px 0 0 5px; border:0 !important; text-decoration:none !important;}