.newsmenu, .newsmenu-ul, .newsmenu-ul li, .nivel1 , .nivel2, .nivel1, .newsmenu-ul  span  {
margin:0;
padding:0;
}
.newsmenu-ul, .newsmenu-ul li{
display:inline-block;
}
.nivel1 {
background-color:#003366;
}
.nivel2 {
background-color:#0033CC;
}
.nivel3 {
background-color:#0066CC;
}

.nivel1 .newsmenu-ul li {
padding-left : 18px;
padding-right : 18px;
padding-bottom : 7px;
padding-top : 7px;
}
.nivel2 .newsmenu-ul li {
padding-left : 12px;
padding-right : 12px;
padding-bottom : 7px;
padding-top : 7px;
margin-top:5px;
margin-left:5px;
color: #ffffff;
}
.nivel3 .newsmenu-ul  li {
padding-left : 12px;
padding-right : 12px;
padding-bottom : 7px;
padding-top : 7px;
margin-top:5px;
margin-left:5px;
color: #000000;
}
.nivel1 .newsmenu-ul  li.active {
background-color:#0033CC;
}
.nivel1 .newsmenu-ul  li.active a:link, .nivel1 .newsmenu-ul  li.active a:visited {
text-decoration:none;
color:#FFF;
}
.nivel1 .newsmenu-ul  #current a:link, .nivel1 .newsmenu-ul  #current a:visited {
text-decoration:none;
color:#FFF;
}
.nivel2 .newsmenu-ul  li#current, .nivel2 .newsmenu-ul  li.active {
background-color:#0066CC;
}
.newsmenu-ul a:link, .newsmenu-ul a:visited {
text-decoration : none;
}
.newsmenu-ul a:hover{	
text-decoration:underline;
}
.nivel1 a:link, .nivel1 a:visited {
color : #ffffff;
}
.nivel1 .newsmenu-ul  li a:hover {
color : #ffffff;
}
.nivel2 a:link, .nivel2 a:visited {
color : #FFF;
}
.nivel2 .newsmenu-ul  li a:hover {
color : #FFF;
}
.nivel2 .newsmenu-ul  li.active a:link, .nivel2 .newsmenu-ul  li.active a:visited {
text-decoration:none;
color:#FFF;
}
.nivel2 .newsmenu-ul  #current a:hover {
text-decoration:underline;
}
.nivel3 a:link, .nivel3 a:visited {
color:#FFF;
}
.nivel3 .newsmenu-ul  li a:hover {
color:#FFF;
}
.nivel3 .newsmenu-ul  li.active a:link, .nivel3 .newsmenu-ul  li.active a:visited {
text-decoration:underline;
color:#FFF;
}