h1, h2, h3, h4, h5 ul, li {margin: 0; padding: 0; font-weight: normal;}
h2 {padding: 3px 0px;}
ul li, ol li {line-height: 1.7em;}
table {border-collapse:collapse; margin:0 auto;}
.table-text{color:#000; border:1px solid #f6d8aa ; font-family:"Helvetica-Neue",Helvetica,Arial,sans-serif;}
td {
color:#000;
border:1px solid #e5eff8;
padding:.3em 1em; font-size:14px;
text-align:left;
}
   thead th {
    background: none repeat scroll 0 0 #eff6f7 ;
    color: #1e759e ;
    font-family: "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:15px;
	padding:10px;
    text-align: left;
}
.row{width:100%; text-align:center; margin-bottom:10px; font-size:16px;}
 
  
   tr.odd .column1 {
    background: none repeat scroll 0 0 #f9fcfe;
}
    .column1 {
    background:#f9fcfe;text-align:left; padding:10px;
    }
	.column2 {
    text-align:left; padding:10px;
    }
th {
    border: 1px solid #e5eff8;
    color: #678197;
    font-weight: normal;
    padding: 0.3em 1em;
    text-align: left;
}
tfoot th {
	text-align:left;
	background:#f4f9fe;
	}	
	
		
tfoot td.foot{
	padding:15px 9px;
	font-size:16px;
   text-align:left;

	
	}

body { background: #f5f4f4; font: 12px/14px Arial, sans-serif !important; margin: 10px; padding: 0; }


#com_crmery {max-width: 1200px; background: #FFF; padding: 10px !important; margin: 0 auto; margin-bottom:20px; box-shadow: 0 0 5px 0px #d5d6d7; -webkit-box-shadow: 0 0 5px 0px #d5d6d7; -moz-box-shadow: 0 0 5px 0px #d5d6d7;}
#com_crmery div.container {width: 100%;}

#logged_in_user { color:#616161; font-weight:bold; text-align:right; max-width: 1200px; padding: 5px !important; margin: 0 auto; margin-bottom:5px; text-shadow:0 1px 0 #ffffff; }

a {border-bottom: 1px dotted #3E95BE; color: #1E759E !important; text-decoration: none;}

form.inline-form{display:inline; margin-left:10px;}

input.button {cursor:pointer; text-decoration: none; color: #333 !important; float: none; margin: 0px 4px; border: 1px solid #CCC !important; background: #e6e6e6; background-image: -ms-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -moz-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -o-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #E6E6E6));background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);text-decoration: none; padding: 3px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; text-align: center; display: inline;}
input.button:hover {background: #f5f5f5 !important; color: #333 !important;}




/**********************************************Edited on 17 sep 2014****************************************************/

 .countryreports-div{text-align:center; background: none repeat scroll 0 0 #fffcf4;  border: 1px solid #f6d8aa; font-family:Helvetica-Neue,Helvetica,Arial,sans-serif;   border-radius: 5px; padding:8px;}
.mtop25{margin-top:25px;}


.font_size{font-size:14px; font-family: Arial, Helvetica, sans-serif; }