.adp-directions tr { border: 1px solid #B3B3B3;}
.adp-placemark, .adp-step, .adp-stepicon, .adp-substep {
	background: -moz-linear-gradient(center top , #F0F0F0, #E9EAEB) repeat scroll 0 0 #E9EAEB;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F0F0F0), to( #E9EAEB)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F0F0F0 , #E9EAEB); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F0F0F0 , #E9EAEB ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F0F0F0 , #E9EAEB ); /* IE10 */
	background-image:      -o-linear-gradient( #F0F0F0 , #E9EAEB ); /* Opera 11.10+ */
	background-image:         linear-gradient( #F0F0F0 , #E9EAEB );
    border-top: medium none;
    color: #3E3E3E;
    padding: 0.8em 0;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    vertical-align: middle;
}
.adp-placemark, .adp-summary, .adp-legal {display: none;margin: 0;}
.adp-directions {width: 100%;}
.crmeryField {padding: 10px 0px 5px;}

input[type="phone"] {
	background-image: none;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    outline: 0 none;
    padding: 0.4em;
    width: 97%;
}

.ui-icon-agenda {background-image: url(../images/mobile/agenda_grey.png) !important; background-position: 3px 3px !important; }
.ui-icon-deals {background-image: url(../images/mobile/deals_grey.png) !important; background-position: 3px 3px !important;}
.ui-icon-leads {background-image: url(../images/mobile/leads_grey.png) !important; background-position: 4px 3px !important;}
.ui-icon-contacts {background-image: url(../images/mobile/contacts_grey.png) !important; background-position: 4px 3px !important;}
.ui-icon-companies {background-image: url(../images/mobile/companies_grey.png) !important; background-position: 3px 3px !important;}