/* Calendar Themes */
div.calendar_task { border-color:#7ba440; }
div.calendar_task_bg .fc-event-skin { background:#7ba440 !important; border-color:#7ba440; }
div.add_calendar_events { position:absolute; right:0; bottom:0; }
div.calendar_event { border-color:#00769f; }
div.calendar_event_bg .fc-event-skin { background:#00769f !important; border-color:#00769f; }
div#com_crmery #edit_menu ul { margin:0px; padding:0px; }
div#com_crmery #edit_menu ul li { list-style-type:none; margin:0px; }
div#com_crmery #calendar {margin-top: 10px;margin-bottom:20px;position:relative;}
div#com_crmery #calendar .ui-state-default, div#com_crmery #calendar .ui-widget-content .ui-state-default, div#com_crmery #calendar .ui-widget-header .ui-state-default {text-decoration: none; color: #333 !important; margin: 0px 2px; border: 1px solid #CCC !important; background: #e6e6e6; background-image: -ms-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -moz-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -o-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #E6E6E6));background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);text-decoration: none; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; text-align: center;}
.ui-icon {background: url(../images/ui-icons_666666_256x240.png) no-repeat; display: block; height: 16px; width: 16px;}
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }

/*
* modals and dialogs
*/
.ui-widget-content select { width:auto !important; height:auto !important; vertical-align:inherit !important; }
.ui-widget-content textarea { -moz-transition:none !important; min-height:100px !important; border:1px solid #e5e6e7; -webkit-border-radius: 3px; border-radius:3px; -moz-border-radius:3px; padding: 5px; width: 100% !important; box-shadow:none !important;}
div.com_crmery textarea:active{border:none !important;}
div.ui-widget-content.com_crmery {background: url(../images/bg50.png); text-align: left; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 8px;}
div.ui-widget-content a {border-bottom: 0px;}
div.ui-dialog-titlebar, div.ui-dialog-content {background: #FFF;}
div.com_crmery_notify div.ui-dialog-titlebar, div.com_crmery_notify div.ui-dialog-content {background: none; color: #FFF; text-align: left;}
div.com_crmery_notify div.ui-dialog-content {padding: 0px 5px;}
div.ui-dialog-titlebar {border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;}
div.ui-dialog-content {border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; z-index:1000 !important;}
div.ui-dialog-content div.actions, div.ui-dialog-content div.contact_info_controls_area_modal {padding: 5px 0px; margin-top: 5px; background: #f5f6f7; border-top: 1px solid #d5d6d7; text-align: center; border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;}
a.ui-dialog-titlebar-close {float: right; text-indent: -50000px; padding: 4px;}
div.ui-dialog-titlebar {overflow:hidden;}
div.ui-dialog-content .button {text-decoration: none; color: #333 !important; margin: 0px 4px; border: 1px solid #CCC !important; background: #e6e6e6; background-image: -ms-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -moz-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -o-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #E6E6E6));background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);text-decoration: none; padding: 6px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; text-align: center;}
div.ui-dialog-content div.crmeryRow {padding: 5px 10px;}
div.ui-dialog-content div.crmeryField {width: 35%;}
div.ui-dialog-content div.crmeryValue {float: left;}
div.ui-dialog-content h3 {margin: 0; padding: 0px 0px 10px 10px; margin-top: -8px;}
div.ui-dialog-content .inputbox {border:1px solid #e5e6e7; -webkit-border-radius: 3px; border-radius:3px; -moz-border-radius:3px; padding: 5px; margin:0px 5px; z-index:2000 !important; position:relative; }
div.ui-dialog-content .inputbox:hover, div.ui-dialog-content .inputbox:focus {border: 1px solid #d5d6d7; z-index:2000 !important;}
div.ui-datepicker-header {background: none repeat scroll 0 0 #F5F6F7; font-weight: bold; padding: 6px 4px; }
a.ui-datepicker-next {float:right;padding-top:2px;}
a.ui-datepicker-next span, a.ui-datepicker-prev span {text-indent: -50000px;}
a.ui-datepicker-prev {float: left; padding-top:2px;}
.ui-dialog-title {font-weight: bold; padding: 5px; float:left; display: block; font-size: 14px;}
div.contact_info_controls_area_modal {padding: 4px 0px; width: 100%; text-align: center;}
div.contact_info_controls_area_modal a.prev, div.contact_info_controls_area_modal a.next {font-weight:bold; text-decoration: none; color: #333 !important; margin: 0px 4px; border: 1px solid #CCC !important; background: #e6e6e6; background-image: -ms-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -moz-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -o-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #E6E6E6));background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #E6E6E6 100%);text-decoration: none; padding: 6px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; text-align: center;}
div.contact_info_controls_area_modal a.prev {float: left;}
div.contact_info_controls_area_modal a.next {float: right;}
div.contact_info_controls_area_modal a.prev.disabled, div.contact_info_controls_area_modal a.next.disabled {background: #d5d6d7;}
div.person_actions { position:absolute; top:5px; right:5px; }
div.person_actions a { float:left; margin:2px;}
div.person_actions a.remove { border-bottom:0 !important; height:16px; width:16px; display:block; background:url('../images/remove_icon.png')#ABABAB; }


div.crmeryRow {overflow:hidden; border-bottom: 1px solid #e5e6e7; padding: 10px 0px;}
#com_crmery div.crmeryRow.top {border-top: 1px solid #e5e6e7;}
div.crmeryField {color: #999999; float: left;}
div.crmeryValue {float: right; text-align: right;}
#com_crmery #editForm div.crmeryField {width: 150px; padding: 5px;}
#com_crmery #editForm div.crmeryValue {float: left; text-align: left;}
#com_crmery #editForm span.actions {float: none; margin: 0 auto; text-align: center;}