html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 86%;
  color: #333;
  background: #fff;
}
body {
  margin: 0;
  padding: 0;
  z-index: 1;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 180%;
  font-weight: normal;
  color: #006f9f;
}
h2,
h3 {
  margin: 1em 0 0.5em;
  font-size: 120%;
}
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;
  font-size: 110%;
}
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}



p {
  margin: 1em 0 0;
  font-size: 100%;
}

ol,
ul {
  padding-left: 0;
  margin: 0 0 0 1.5em;
}

li {
  /* margin: 0.25em 0; */
  font-size: 100%;
}

select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

a {
  color: #006f9f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.readon,
a.viewall,
a.button-a,
a.button-b {
  width: auto;
}
a.readon,
a.button-a {
  padding: 2px 25px 2px 10px;
  vertical-align: -4px;
  background: #ee4671 url('../images/button-a-arrow.png') no-repeat 100% 50%;
  /*border: 1px f7a5ba;
  border-style: solid solid none none;*/
  color: #fff;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
a.button-b {
  padding: 2px 10px 2px 25px;
  background: #ee4671 url('../images/button-b-arrow.png') no-repeat 0 50%;
  /*border: 1px f7a5ba;
  border-style: solid solid none none;*/
  color: #fff;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
}
a.viewall {
  padding: 0 11px 0 0;
  vertical-align: -4px;
  background: transparent url('../images/viewall-arrow.png') no-repeat 100% 50%;
  font-size: 85%;
  font-weight: bold;
  display: inline-block;
}
.pdf-icon {
  padding: 30px 0 30px 85px;
  background: transparent url('../images/pdf-icon.png') no-repeat 15px 0;
}
.pdf-icon a.button-a {
  margin: 30px 0;
}
p.action-buttons a {
  width: 80px;
  height: 3em;
  margin: 0 1px;
  padding: 10px 32px 10px 8px;
  background: #ee4671 url('../images/button-a-arrow.png') no-repeat 100% 1.15em;
  color: #fff;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  display: block;
}
p.action-buttons.x4 a {
  width: 110px;
}
p.action-buttons.x3 a {
  width: 161px;
}
a.readon:hover,
a.button-a:hover {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  border: 0 !important;
  border-image-width: 0 !important;
  outline: 0 !important;
}

#strapline p {
  margin: 6px 0 12px;
  color: #006f9f;
  font-size: 110%;
}

#search-inner {
  background-color: #f5f5f5;
}
#search-top input.button {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  color: #666;
  text-align: center;
  background: url('../images/search_button_bg.png') no-repeat;
  border: 0;
  vertical-align: -5px;
}

#header-bottom {
}

/* header menu - level 1 */
#js-mainnav {
  border: none !important;
}
#js-meganav {
  /*border-top: 1px solid #c4e4ed;*/
  background-color: #006f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#016797), to(#1f497d));
  background: -moz-linear-gradient(top,  #016797,  #1f497d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#016797', endColorstr='#1f497d');
/*  background-color: #196388 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2ecf0), to(#196388));
  background: -moz-linear-gradient(top,  #d2ecf0,  #196388);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#d2ecf0', endColorstr='#196388'); */
}

/* kill the styling in .group-title .menu-title etc */
.group-content {
  border: none !important;
  font-size: 100% !important;
}
.group-title {
  border: none !important;
}
.group-title .menu-title {
  font-size: 100% !important;
  font-weight: normal !important;
  text-transform: none !important;
}
.childcontent-inner-wrap {
  margin: 0;
  background: #fff !important;
  overflow: hidden;
}
.childcontent-inner-wrap .childcontent-inner {
  padding: 20px 10px;
  border: 1px #c4e4ed;
  border-style: none solid solid !important;
  background: transparent !important;
}
.childcontent-inner-wrap .childcontent-inner ul.megamenu li {
  filter: none !important;
}
.megacol {
  border-style: none !important;
}

#header-bottom-outer {
  border: 1px #c4e4ed;
  border-style: solid none none;
  /*border-style: none; ### RC20130626*/
  background-color: #006f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#016797), to(#1f497d));
  background: -moz-linear-gradient(top,  #016797,  #1f497d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#016797', endColorstr='#1f497d');
}
#js-mainnav ul  {
  margin: 0;
  padding: 0;
  list-style: none;
  /*z-index: 1;*/
}
#js-mainnav ul li  {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 0 1px;
  background-color: #c4e4ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4e4ed), to(#6ba8c7)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #c4e4ed,  #009ce6); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c4e4ed', endColorstr='#009ce6'); /* for IE */
  font-size: 125%;
  font-weight: bold;
}
#js-mainnav ul li:first-child  {
  padding: 0;
}
#js-mainnav ul li a  {
  height: 20px;
  padding: 8px 8px 9px;
  /*border: 1px #c4e4ed;
  border-style: solid none none;
  border-style: none; ### RC20130626*/
  background-color: #006f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#016797), to(#1f497d));
  background: -moz-linear-gradient(top,  #016797,  #1f497d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#016797', endColorstr='#1f497d');
  text-decoration: none;
  color: #fff;
  display: block;
}
#js-mainnav ul li a:hover,
#js-mainnav ul li.active a  {
  border-color: #fff;
  background: #fff;
  filter: none;
  color: #006f9f !important;
/*  background-color: #c4e4ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4e4ed), to(#6ba8c7));
  background: -moz-linear-gradient(top,  #c4e4ed,  #009ce6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c4e4ed', endColorstr='#009ce6');
  color: #fff !important; */
}
#js-mainnav ul li a span  {
  padding: 0 !important;
  background: none !important;
}

/* header menu - level 2 */
#js-mainnav ul li ul.level1  {
  margin: 0;
  padding: 0;
  background: #fff;
  list-style: none;
}
#js-mainnav ul li ul.level1 li,
#js-mainnav ul li ul.level1 li.mega  {
  /*width: 188px;
  margin: 0 0 -1000px;
  padding: 0 0 1004px;*/
  margin: 0;
  padding: 0 0 4px;
  border: none !important;
  background: #fff;
  font-size: 90%;
  display: block;
}
#js-mainnav ul li ul.level1 li.mega-image  {
  min-height: 85px;
  padding: 0 8px 4px 155px;
  background: transparent no-repeat 0 0;
}
#js-mainnav ul li ul.level1 li.mega-image.place-1  {
  background-image: url('../images/megamenu-place1.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-2  {
  background-image: url('../images/megamenu-place2.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-3  {
  background-image: url('../images/Whoweare.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-4  {
  background-image: url('../images/services.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-5  {
  background-image: url('../images/forumoffirms.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-6  {
  background-image: url('../images/AuditAccounting.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-7  {
  background-image: url('../images/GlobalChinaService.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-8  {
  background-image: url('../images/Tax.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-9  {
  background-image: url('../images/MegaMenuBookFlippingPagesBlue.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-10  {
  background-image: url('../images/MegaMenuBookFlippingPagesGreen.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-11  {
  background-image: url('../images/MegaMenuBookFlippingPagesGreenLast.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-12  {
  background-image: url('../images/MegaMenuBookFlippingPagesGreenok.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-13  {
  background-image: url('../images/MegaMenuBookFlippingPagesPink.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-14  {
  background-image: url('../images/MegaMenuBookFlippingPagesPurple.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-15  {
  background-image: url('../images/AdvisoryMegaMenu.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-16  {
  background-image: url('../images/Dynamism.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-17  {
  background-image: url('../images/contact_us1.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-18  {
  background-image: url('../images/Expertise.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-19  {
  background-image: url('../images/WInA.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-20  {
  background-image: url('../images/hlbinspired_sskotharimehta1.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-21  {
  background-image: url('../images/LatestNewsMegaMenu.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-22  {
  background-image: url('../images/NewMemberFirmsMegaMenu.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-23  {
  background-image: url('../images/PressReleasesMegaMenu.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-24  {
  background-image: url('../images/widget.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-25  {
  background-image: url('../images/quality.jpg');
}
#js-mainnav ul li ul.level1 li.mega-image.place-26  {
  background-image: url('../images/Casestudies.jpg');
}
#js-mainnav ul li ul.level1 li a  {
  padding: 0 8px;
  border: none !important;
  text-decoration: none;
  background: #fff;
  filter: none;
  display: block;
}
#js-mainnav ul li ul.level1 li a.mega-blank  {
  min-height: 85px;
  padding: 2px 8px 4px;
}
/*#js-mainnav ul li ul.level1 li a.mega-image  {
  min-height: 85px;
  padding: 2px 8px 4px 155px;
  background: transparent no-repeat 0 0;
}
#js-mainnav ul li ul.level1 li a.mega-image.place-1  {
  background-image: url('../images/megamenu-place1.jpg');
}
#js-mainnav ul li ul.level1 li a.mega-image.place-2  {
  background-image: url('../images/megamenu-place2.jpg');
}*/
#js-mainnav ul li ul.level1 li a span  {
  color: #006f9f !important;
}
#js-mainnav ul li ul.level1 li a span.menu-title  {
  font-weight: bold !important;
}
#js-mainnav ul li ul.level1 li a:hover span,
#js-mainnav ul li ul.level1 li.active a span {
  color: #009ce6 !important;
}

/* header menu - level 3 */
#js-mainnav ul li ul.level1 li ul.level2 li,
#js-mainnav ul li ul.level1 li.mega  {
  border: none !important;
}
#js-mainnav ul li ul.level1 li ul.level2  li a  {
  padding: 2px 8px 4px;
  border: none !important;
  text-decoration: none;
  background: #fff;
  display: block;
}
#js-mainnav ul li ul.level1 li ul.level2 li a span,
#js-mainnav ul li .group-content ul.level1 li.mega a span  {
  color: #666 !important;
  font-weight: normal !important;
}
#js-mainnav ul li ul.level1 li ul.level2 li a:hover span,
#js-mainnav ul li ul.level1 li ul.level2  li.active a span,
#js-mainnav ul li .group-content ul.level1 li.mega a:hover span,
#js-mainnav ul li .group-content ul.level1 li.mega.active a span  {
  color: #333 !important;
}

#header-right {
  text-align: right;
}
#user-login {
  width: 96px;
  height: 20px;
  padding: 9px 12px 8px;
  /*border-top: 1px solid #c4e4ed;*/
  background-color: #006f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#016797), to(#1f497d));
  background: -moz-linear-gradient(top,  #016797,  #1f497d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#016797', endColorstr='#1f497d');
  color: #fff;
}
#user-login a:hover {
  text-decoration: none;
}
#js-mainnav ul.level0 li a#menu495 span,
#user-login span.loginBtn {
  padding: 2px 6px !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  background-color: #f25d23 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#d49375), to(#b0674a)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #d49375,  #b0674a); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#d49375', endColorstr='#b0674a'); /* for IE */
  background-image: none !important;
  font-family: Arial, Helvetica, sans-serif !important;
  white-space: nowrap;
}
#user-panel a {
  color: #333;
}
#user-panel a:hover {
  text-decoration: none;
}
#user-panel span.loginBtn {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  background: none !important;
  color: #333;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  white-space: nowrap;
}
#login-panel a {
  padding-left: 12px;
  background: transparent url('../images/gcs-back-arrow.png') no-repeat 0 0.25em;
  color: #f96304;
}

#breadcrumb {
  margin-bottom: 15px;
  padding-left: 8px;
  padding: 4px 0 3px;
  border-bottom: 1px solid #ccc;
  font-size: 80%;
}
#breadcrumb a {
  color: #aaa;
}
#breadcrumb span {
  color: #666;
}
#breadcrumb img {
  vertical-align: 15%;
}

/* left menu - level 3 */
.moduletable-vmenu ul.menu  {
  margin: 0 0 20px;
  padding: 0;
  border-top: 1px solid #056190;
  list-style: none;
}
.moduletable-vmenu ul.menu li  {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 11px;
  float: none;
}
.moduletable-vmenu ul.menu li a  {
  padding: 8px 16px;
  text-decoration: none;
  color: #666;
  display: block;
}
.moduletable-vmenu ul.menu li a:hover,
.moduletable-vmenu ul.menu li.active a  {
  background-color: #e6f0f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f6fa), to(#dcebf2)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #f1f6fa,  #dcebf2); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f1f6fa', endColorstr='#dcebf2'); /* for IE */
  color: #006f9f;
}

/* left menu - level 4 */
.moduletable-vmenu ul.menu li ul,
.moduletable-vmenu ul.menu li ul li {
  margin: 0;
  padding: 0 0 0 4px;
  border: none;
  list-style: none;
  font-size: 12px;
  font-weight: normal;
}
.moduletable-vmenu ul.menu li ul li a,
.moduletable-vmenu ul.menu li.active ul li a  {
  padding: 4px 8px;
  background: #fff;
  color: #666 !important;
}
.moduletable-vmenu ul.menu li ul li a:hover,
.moduletable-vmenu ul.menu li ul li.active a  {
  background: #fff;
  color: #006f9f !important;
}

#component-content h1 {
  padding-bottom: 4px;
  border-bottom: 2px solid #006f9f;
}


#banner_top .moduletable ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent url('../images/buttons-cropped.png') no-repeat 0 0;
}
#banner_top .moduletable ul li {
  width: 183px;
  height: 84px;
  margin: 0;
  padding: 4px 10px;
  border-top: 1px transparent dotted;
  font-size: 150%;
  font-weight: bold;
  /* text-indent: -1000em;
  border-top: 1px #006f9f dotted;
  background: #fff;
  color: #006f9f;*/
}
#banner_top .moduletable ul li a {
  width: 183px;
  height: 84px;
  display: block;
}
#banner_top .moduletable ul li a span {
  font-size: 70%;
  font-weight: normal;
  display: block;
}
#banner_top .moduletable ul li:first-child {
  border: none;
}


#user-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#user-inner ul li {
  width: auto !important;
  margin: 0;
  padding: 10px 0 0 17px !important;
  background: transparent url('../images/pink_bullet.png') no-repeat 0 1.05em;
  color: #666;
}
#user-inner .moduletable-publicmembers ul li {
  padding: 10px 0 0 0 !important;
  background: none;
}
#user-inner .moduletable-publicmembers ul li .image_block {
  width: 36px;
  float: left;
}
#user-inner .moduletable-publicmembers ul li .info_block {
  width: 233px;
  float: left;
}
#user-inner ul li.events_ext {
  padding-left: 0;
  background: none;
}


#user-inner > div > div > div > h3,
#content-inner div h4 {
  padding-bottom: 4px;
  border-bottom: 2px solid #006f9f;
  color: #006f9f;
  font-size: 130%;
}

/**
 * international member firm listings
 */
.member-search-box {
  width: 310px;
  float: right;
}
.hlbiworldmap, .hlbiworldmap div {max-width: 620px;}
.member-search input {
  width: 200px;
  float: right;
}
.member-search input#SubmitButton {
  width: auto;
  margin: 0 1px;
  padding: 2px 25px 2px 10px;
  border: none;
  background: #ee4671 url('../images/button-a-arrow.png') no-repeat 100% 0.5em;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
  float: left;
  display: block;
}
.member-search,
.member-offices {
  width: 288px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
  float: left;
  overflow: hidden;
}
.member-offices h5   {
  margin-top: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #006f9f;
  color: #006f9f;
}
.member-offices ul,
ul.member-search-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.member-offices ul li,
ul.member-search-list li {
  margin: 0;
  padding: 0 0 0.5em;
  list-style: none;
}
ul.member-search-list li a,
a.member-office-partner {
  font-weight: bold;
}
.member-offices li a {
  width: 288px;
  font-weight: bold;
  display: block;
}
.member-office-summary > h4 {
  margin: 14px 0 0.5em;
}
.member-office-summary > div.member-office-images {
  background: transparent no-repeat 100% 0;
}
.member-lists.search-list {
  margin: 10px 0 0;
}
.member-lists > div {
  margin: 30px 0;
  overflow: hidden;
}
.member-lists div.member-desc {
  margin: 10px 0 30px;
}
.member-lists > div.member-act {
  margin: 30px 0 40px;
  padding: 0;
  border: 0;
}
.member-office-summary > div.member-act {
  margin: 0;
  padding: 30px 0 40px;
  border: 0;
  clear: both;
}
div.member-act p {
  margin: 0;
}
.member-lists .member-icp > div.member-pic {
  margin: 10px 0 0;
  padding: 10px;
  background: transparent no-repeat 500px 10px;
  overflow: hidden;
}
.member-lists .member-icp > div.member-pic img {
  width: 100px;
  margin-left: 10px;
  float: right;
}
.member-lists .member-icp > div.member-pic.even {
  background-color: #f5f5f5;
}
.member-lists .member-profile > div.member-summary {
  min-height: 100px;
}
.member-lists .member-profile > div.member-bio {
  margin: 0 0 20px;
  clear: both;
  overflow: hidden;
}
.member-lists .member-profile > div.member-foot {
  clear: both;
}
.member-lists .member-profile > div.member-bio h6 {
  margin: 20px 0 0;
}
.member-lists .member-profile p.member-note {
  margin: 20px 0;
  color: #006f9f;
  font-size: 110%;
  font-weight: bold;
}
.member-lists .member-icp iframe {
  width: 610px;
  height: 250px;
  border: 0;
  overflow: scroll;
}
.member-lists h5 {
  margin: 0 0 0.5em;
  padding-bottom: 2px;
  border-bottom: 1px solid #006f9f;
  color: #006f9f;
}
.member-lists h6 {
  margin: 0;
  color: #006f9f;
}
.member-lists.multi p {
  margin: 0;
}
.member-profile h4 {
  margin: 14px 0 0.5em !important;
  padding-bottom: 4px !important;
  border-bottom: 2px solid #006f9f !important;
  color: #006f9f !important;
  font-size: 130% !important;
  display: block;
}

/**
 * member directory profile
 */
.member-lists > div.member-profile {
  margin: 20px 0;
}
.member-lists > div.member-profile .member-summary {
  width: 430px;
  min-height: 100px;
  margin: 10px 0 0;
  padding: 10px 10px 10px 0;
  overflow: hidden;
}
.member-lists > div.member-profile .member-summary img {
  width: 150px;
  margin-right: 20px;
  float: left;
}
.member-lists > div.member-profile .member-summary .member-detail {
  float: left;
}
.member-lists > div.member-profile > div.member-contact {
  width: 300px;
  margin: 0 0 10px;
  float: left;
}
.member-lists > div.member-profile > div.member-contact p {
  margin: 0.25em 0 0;
}
.member-lists > div.member-profile > div.member-social-media {
  width: 300px;
  float: right;
}
.member-lists > div.member-profile > div.member-social-media span {
  width: 24px;
  height: 24px;
  margin: 10px 0 0 5px;
  background: transparent no-repeat 0 0;
  text-indent: -1000em;
  display: block;
}
.member-lists > div.member-profile > div.member-social-media span.partner-linked-in {
 background-image: url('/modules/mod_socialmedialinks/icons/default/size2/linkedin.png');
}
.member-lists > div.member-profile > div.member-social-media span.partner-twitter {
 background-image: url('/modules/mod_socialmedialinks/icons/default/size2/twitter.png');
}
.member-lists > div.member-profile > div.member-social-media span a {
  width: 24px;
  height: 24px;
  display: block;
}

/* member directory public partner profile */
#cbpp h3 {
  margin: 0.6em 0 0.5em !important;
  font-size: 130% !important;
}
#cbpp h5   {
  color: #006f9f !important;
}

#user-upper {
  width: 940px;
  background: transparent url('../images/bottom-line-2.png') no-repeat 0 100%;
  overflow: hidden;
}
#user-upper > div {
  width: 438px;
  margin: 0 0 -10000px;
  padding: 0 10px 10006px;
  border: 1px solid #e4e4e4;
  background-color: #f5f5f5;
}
.NoLeft #user-upper > div {
  width: 318px;
}
/*.hlbiworldmap_top { height: 280px; }*/

#user-lower {
  position: relative;
}

#user-lower > div {
  width: 278px;
  margin: 0 20px -10000px 0;
  padding: 0 10px 10036px;
  border: 1px solid #e4e4e4;
  background: #f5f5f5 url('../images/upper-border.png') repeat-x 0 100%;
  float: left;
}
.NoLeft #user-lower > div {
  width: 198px;
}

#user-lower > div > div.moduletable-viewall{
  position: absolute;
  bottom: 12px;
}
#user-lower > div.user5 > div.moduletable-viewall{
  left: 10px;
}
#user-lower > div.user6 > div.moduletable-viewall{
  left: 330px;
}
#user-lower > div.user7 > div.moduletable-viewall{
  left: 650px;
}

.latestnewsenhanced_325 ul li div.newsinfo div.newsintro,
.latestnewsenhanced_325 ul li div.newsinfo div.link {
  display: inline;
}
.latestnewsenhanced_325 ul li div.newsinfo div.link a {
  color: #666;
  text-decoration: underline;
}
.latestnewsenhanced_325 ul li div.newsinfo div.link a:hover {
  color: #006f9f;
}

.moduletable-frontnewmembers .ja-slidenews-item a.ja-title {
  width: 223px;
  font-weight: normal !important;
  float: right;
}

#footer-outer {
  background-color: #1c4c80;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c4c80), to(#016d9c)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #1c4c80,  #016d9c); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#1c4c80', endColorstr='#016d9c'); /* for IE */
}

/* class styled panels */
.moduletable-flatgrey {
  margin-bottom: 20px;
  padding: 1em 13px;
  background-color: #f5f5f5;
  color: #009ce6;
}
.moduletable-flatgrey h3 {
  padding-bottom: 4px;
  border-bottom: 1px solid #ee4671;
  color: #006f9f;
}
.moduletable-greygraded {
  margin-bottom: 20px;
  padding: 1em 13px;
  background-color: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#d9d9d9)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fcfcfc,  #d9d9d9); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fcfcfc', endColorstr='#d9d9d9'); /* for IE */
  color: #009ce6;
}
.moduletable-greygraded h3 {
  padding-bottom: 4px;
  border-bottom: 1px solid #ee4671;
  color: #006f9f;
}
.moduletable-bluegraded {
  margin-bottom: 20px;
  padding: 1em 13px;
  background-color: #177ca6;
  background: -webkit-gradient(linear, left top, left bottom, from(#aadef4), to(#01709d)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #aadef4,  #01709d); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#aadef4', endColorstr='#01709d'); /* for IE */
  color: #fff;
}
.moduletable-bluegraded h3 {
  padding-bottom: 4px;
  border-bottom: 1px solid #ee4671;
  color: #fff;
}
.moduletable-flatgrey ul,
.moduletable-greygraded ul,
.moduletable-blugraded ul {
  margin: 0;
  padding: 0;
}
.moduletable-flatgrey ul > li,
.moduletable-greygraded ul > li,
.moduletable-blugraded ul > li {
  margin-top: 5px;
}
.moduletable-flatgrey ul > li a,
.moduletable-greygraded ul > li a,
.moduletable-blugraded ul > li a {
  padding-left: 14px;
  background: transparent url('../images/pink_bullet.png') no-repeat 4px 0.5em;
}

/* roksprocket slideshow override */


.layout-slideshow .sprocket-features-content {
  left: 32px !important;
  background: rgba(0, 0, 0, 0.25) !important;
}

#slideshow .layout-slideshow .sprocket-features-content {
  left: 532px !important;
}


.layout-slideshow .sprocket-features-title {
  padding: 6px 12px !important;
  /*background: rgba(0, 0, 0, 0.25) !important;*/
  /*background-image: url("../images/overlays/dark-70.png") !important;*/
}
.layout-slideshow .sprocket-features-desc {
  width: 450px;
  padding: 6px 12px !important;
  /*background: rgba(159, 159, 159, 0.75) !important;*/
 /* background: rgba(0, 0, 0, 0.25) !important;*/
  /*background-image: url("../images/overlays/dark-70.png") !important;*/
  font-size: 125% !important;
  line-height: 1.5em !important;
  display: block !important;
}
.layout-slideshow .sprocket-features-arrows .arrow {
  font-size: 18px !important;
}
.layout-slideshow .sprocket-features-arrows .prev {
  left: 40px !important;
  top: 360px !important;
}
.layout-slideshow .sprocket-features-arrows .next {
  left: 70px !important;
  top: 360px !important;
}
.layout-slideshow .sprocket-features-pagination {
    left: 630px !important;
}






/* nasty hack for GCS (Members) in public menu */
.user3 ul li .item-495 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 0 1px;
  background: #fbba80;
}
.user3 ul li.item-495 a  {
  border-top: 1px solid #ff8566;
  background-color: #f96304;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe3b01), to(#f6810f)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fe3b01,  #f6810f); /* for firefox 3.6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fe3b01', endColorstr='#f6810f'); /* for IE */
  color: #fff;
}
.user3 ul li.item-495 a:hover,
.user3 ul li.item-495.active a  {
  border-top-color: #e9e9e9;
  background: #e9e9e9;
  color: #666;
  text-decoration: underline;
}

/* footer */
#footer-inner a {
  color: #fff;
}

/* megamenu images */
#footer-inner a {
  color: #fff;
}

/* home page news links */
.ja-slidenews-item {
  border: none !important;
}
.ja-slidenews-item a {
  color: #126798;
}
.ja-slidenews-item a.readon {
  padding: 0;
  background: none;
  color: #126798;
  font-size: 100%;
  font-weight: normal;
  text-transform: none;
}

/* home page roksprocket tabs */
#user-inner .layout-top ul.sprocket-tabs-nav {
  padding: 0 !important;
  border-bottom: none !important;
  background: none !important;
}
#user-inner .layout-top ul.sprocket-tabs-nav li {
  padding: 0;
  background: none;
  font-weight: bold;
}
#user-inner .layout-top ul.sprocket-tabs-nav li span.sprocket-tabs-inner {
  padding: 5px 10px;
  border: none !important;
  border-radius: 0 !important;
}
#user-inner .layout-top ul.sprocket-tabs-nav li.active span.sprocket-tabs-inner {
  background-color: #fff;
  color: #f96304;
}
#user-inner .layout-top div.sprocket-tabs-panel.active {
  width: 418px !important;
  padding: 8px 10px;
  background-color: #fff;
  color: #666;
}
#user-inner .layout-top div.sprocket-tabs-panel.active a.readon {
}

/* home page roksprocket accordion */
#user-inner ul.sprocket-lists-container li {
  padding: 0.35em 0 0;
  background: none;
}
#user-inner ul.sprocket-lists-container li h4.sprocket-lists-title {
  border-radius: 0 !important;
  background: #ccc !important;
  color: #006f9f;
  font-size: 120% !important;
}
/*h4.sprocket-lists-title span.indicator {
  border-radius: 0 !important;
  background: transparent url('../images/accordion-arrow-up.png') no-repeat 0 0;
  right: 2px;
  top: 20px;
  text-indent: -999em;
  opacity: 1.0 !important;
}*/
#user-inner ul.sprocket-lists-container li.active h4.sprocket-lists-title {
  margin: 0 !important;
  border: none !important;
  border-image-width: 0 !important;
  background: #009ce6 !important;
  color: #fff;
  cursor: auto;
}
#user-inner ul.sprocket-lists-container li h4.sprocket-lists-title span.indicator {
  border-radius: 0 !important;
  background: transparent !important;
/*background-image: url('../images/accordion-arrow-down.png');*/
}
.sprocket-lists-item .sprocket-padding {
  padding: 0 !important;
}
.sprocket-lists-image {
  margin-right: 0 !important;
}

/* home page publications download module */
.custom-publicpublications > div.corporate-brochure {
  margin-bottom: 3px;
  padding: 10px 12px 10px 107px;
  background: #ddd url('../images/corporate-brochure.png') no-repeat 12px 100%;
}
.custom-publicpublications > div.corporate-brochure a.pdf-icon {
  width: 134px;
  padding: 0 27px 0 0;
  background: transparent url('../images/pdf-icon-25.png') no-repeat 100% 0;
  color: #333;
  text-align: right;
  display: block;
}
.custom-publicpublications > div.doing-business-in {
  margin-bottom: 3px;
  padding: 10px 107px 10px 12px;
  background: #ddd url('../images/doing-business-brochure.png') no-repeat 169px 100%;
}
.custom-publicpublications > div.doing-business-in p.pdf-icon {
  padding: 0 0 0 29px;
  background: transparent url('../images/pdf-icon-25.png') no-repeat 0 0;
}

.pagination ul li {
  padding: 0 5px 0 0;
  list-style: none;
  display: inline;
}


/* fabrik list table */
table.fabrikList td  {
  vertical-align: top !important;
}


/* k2 category item list style */
#k2Container.itemListView .itemListCategory  {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
#k2Container.itemListView .itemListCategory img  {
  width: 100% !important;
  padding: 0 !important;
}
#k2Container.itemListView .itemListCategory div  {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 700px;
  height: 45px;
  overflow: hidden;
}
#k2Container.itemListView .itemListCategory div h1,
#k2Container.itemListView .itemListCategory div h2  {
  margin: 0;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  line-height: 45px;
  font-size: 180%;
  font-weight: bold;
}

/* k2 category item list headings */
#k2Container.itemListView .itemListHeading  {
  width: 100%;
  background-color: #e1e1e1;
  overflow: hidden;
}
#k2Container.itemListView .itemListHeading span  {
  padding: 0 15px;
  font-size: 100%;
  font-weight: bold;
  line-height: 30px;
  color: #194e81;
  float: left;
}
#k2Container.itemListView .itemListHeading span.catItemDateCreated  {
  width: 120px;
}
#k2Container.itemListView .itemListHeading span.catItemCountry  {
  width: 120px;
}
#k2Container.itemListView .itemListHeading span.catItemTitle  {
  width: 400px;
  padding: 0;
}
#k2Container.itemListView .itemListHeading span.catItemAttachments  {
  width: 120px;
  padding: 0;
}

/* k2 category item list style */
#k2Container.itemListView .catItemView  {
  padding: 0 !important;
}
#k2Container.itemListView .itemContainer  {
  width: 100% !important;
  margin-top: 1px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ccc;
  clear: both;
}
#k2Container.itemListView .catItemHeader span  {
  padding: 5px 15px;
  font-size: 100%;
  float: left;
}
#k2Container.itemListView .catItemHeader span.catItemDateCreated  {
  width: 120px;
  color: #333;
}
#k2Container.itemListView .catItemHeader span.catItemCountry  {
  width: 120px;
  color: #006f9f;
}
#k2Container.itemListView .catItemHeader span.catItemTitle  {
  width: 550px;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  float: left;
}

/* k2 category news list style */
#k2Container.itemListView .itemList .itemContainer  .catItemHeader,
#k2Container.itemListView .itemList .itemContainer  .catItemBody  {
  float: left;
  width: 685px;
  padding: 0;
}
#k2Container.itemListView .itemList .itemContainer .catItemImageBlock {
  float: left;
  width: 120px;
  height: 120px;
  padding: 4px 0;
}
#k2Container.itemListView .itemList .itemContainer .catItemImageBlock img {
  width: 100px !important;
}
#k2Container.itemListView .itemList .itemContainer .catItemHeader h3.catItemTitle  {
  /*width: 270px;*/
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  /*float: left;*/
}
#k2Container.itemListView .itemList .itemContainer .catItemHeader span.catItemDateCreated  {
  padding: 0 0 5px;
  font-size: 100%;
  font-style: italic;
}

/* k2 category press-pdf list style (attachment, no image) */
#k2Container.itemListView .itemList.pressArticles .itemContainer  .catItemHeader,
#k2Container.itemListView .itemList.pressArticles .itemContainer  .catItemBody  {
  width: 550px;
}
#k2Container.itemListView .itemList.pressArticles .itemListHeading span.catItemTitle  {
  width: 405px;
}
#k2Container.itemListView .itemList .itemContainer .catItemLinks {
  float: left;
  width: 87px;
  height: 25px;
  margin: 0 0 15px;
}
#k2Container.itemListView .itemList .itemContainer .catItemLinks .catItemAttachmentsBlock {
  font-size: 0;
  border: none;
  padding-top: 10px;
}
#k2Container.itemListView .itemList .itemContainer .catItemLinks .catItemAttachments li {
  float: left;
}
#k2Container.itemListView .itemList .itemContainer .catItemLinks .catItemAttachments li a {
  width: 25px;
  height: 25px;
  background: transparent url('../images/download-icon-25.png') no-repeat 0 0;
  text-indent: -1000em;
  display: block;
}
#k2Container.itemListView .itemList .itemContainer .catItemLinks .catItemAttachments li.pdfFile a {
  background-image: url('../images/pdf-icon-25.png');
}
#k2Container.itemListView .itemList.pressArticles .itemContainer .catItemHeader h3.catItemTitle  {
  /*width: 270px;
  padding: 5px 15px;*/;*/
  width: 580px;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  /*float: left;*/
}
#k2Container.itemListView .itemList .itemContainer .catItemHeader span.catItemDateCreated  {
  padding: 5px 15px;
  font-size: 100%;
  font-style: italic;
}

/* k2 category pagination */
.k2Pagination ul li span,
.k2Pagination ul li a {
  padding: 0 3px;
  text-indent: -1000em;
}
.k2Pagination ul li.pagination-start .pagenav:before {
  content: '\300A';
}
.k2Pagination ul li.pagination-prev .pagenav:before {
  content: '\3008';
}
.k2Pagination ul li.pagination-next .pagenav:after {
  content: '\3009';
}
.k2Pagination ul li.pagination-end .pagenav:after {
  content: '\300B';
}

/* k2 item toolbar */

#k2Container.itemView .itemToolbar {
  padding: 0;
  border: none;
}
#k2Container.itemView .itemToolbar li {
  border: none;
}
#k2Container.itemView .itemToolbar li a {
  width: 16px;
  height: 16px;
  text-indent: -1000em;
  background: transparent no-repeat 0 0;
  display: inline-block;
}
#k2Container.itemView .itemToolbar li a.itemPrintLink {
  background-image: url('../images/print_16.png');
}
#k2Container.itemView .itemToolbar li a.itemEmailLink {
  background-image: url('../images/mail_16.png');
}

/* k2 category item style */

/* RC removed 20130910
#component-content #k2Container.itemView .itemHeader h1   {
  padding-bottom: 0;
  border-bottom: none;
}
 */
 

/* filterfork2 module item styles */
.k2FilterSelectInner {
  width: 700px;
}
.k2FilterSelectInner label {
  width: 220px;
  padding: 5px 15px;
  float: left;
}
.k2FilterSelectInner select {
  width: 150px !important;
  margin: 5px 15px 1em;
  float: left;
}
ul#k2FilterContainer  {
  width: 700px;
  margin: 0;
}
ul#k2FilterContainer li.itemContainer  {
  width: 700px;
  margin-top: 1px;
  background-color: #efefef;
  clear: both;
  list-style: none;
  overflow: hidden;
}
ul#k2FilterContainer li.itemContainer span,
ul#k2FilterContainer li.itemContainer h3  {
  margin: 0;
  padding: 5px 15px;
  font-size: 100%;
  line-height: 15px;
  float: left;
}
ul#k2FilterContainer li.itemContainer span.moduleItemDateCreated  {
  width: 220px;
}
ul#k2FilterContainer li.itemContainer span.moduleItemCountry  {
  width: 120px;
  color: #006f9f;
}
ul#k2FilterContainer li.itemContainer span.moduleItemTitle,
ul#k2FilterContainer li.itemContainer h3.moduleItemTitle  {
  width: 270px;
  font-size: 100%;
  font-weight: normal;
}
ul#k2FilterContainer li.itemContainer h3.moduleItemTitle a  {
  color: #006f9f;
}
 
 
/* ABU added 12/9/13 k2 category item style */

#component-content #k2Container.itemView .itemHeader h1   {
 /* padding-bottom: 0;
  border-bottom: none;*/
  font-size: 24px;
}

#k2Container.itemView .itemFullText {
 /* padding-bottom: 0;
  border-bottom: none;*/
  font-size: 13px;
  text-align:justify; 
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  border-bottom-color: #006F9F;
}

#k2Container.itemView .itemNavigation {
  background: #FFFFFF;
  display: inline-block;
}

#k2Container.itemView .itemNavigationTitle {
}

#k2Container.itemView .itemNext {

}


#k2Container.itemView .itemRelated .even {
 background: #FFFFFF;
 border-bottom: none;
}

#k2Container.itemView .itemRelated .odd {
 background: #FFFFFF;
 border-bottom: none;
}


#k2SplitModuleBox453.k2ItemsBlock .moduleItemAuthorAvatar{
width: 100px;
height: 100px;
}


#k2SplitModuleBox453.k2ItemsBlock .moduleItemAuthorAvatar a.moduleItemAuthorLink{
width: 100px;
height: 100px;
}

#k2SplitModuleBox453.k2ItemsBlock .moduleItemAuthorAvatar .modulePretext{

}
 
/* Abu Change END */




#k2Container.itemView   {
  padding: 0;
  border: 0;
  overflow: hidden;
}
#k2Container.itemView .itemCategory  {
  padding: 0;
  border: 0;
}
#k2Container.itemView .itemBody .itemImageBlock {
  width: 350px;
  padding: 0 20px 10px 0;
  float: left;
}
#k2Container.itemView .itemBody .itemImageBlock .itemImage img {
  padding: 0;
}
#k2Container.itemView .itemBody .itemImageBlock .itemImageCredits {
  xfloat: none;
}

/* k2 item tags */

ul.itemTags li {
  padding-left: 1px;
  border-radius: 2px;
  background: #999;
}
ul.itemTags li a {
  color: #fff;
  padding: 0 2px;
}

/* blog style header and links
   k2 category "blog" style defined for .catBlog */
#component-content .blog-public h1 {
  padding: 0;
  border: none;
}
.blog-public {
  margin: 0 0 20px;
}
#k2Container.itemListView .itemContainer .catPress,
.blog-public .items-row .item {
  margin: 20px 0 0;
  padding: 0 15px 10px;
  background: #ebebeb;
  overflow: hidden;
}
#k2Container.itemListView .itemContainer .catPress .catItemHeader h3.catItemTitle {
  width: 702px;
  margin: 1em 0 0;
  float: right;
  font-size: 110%;
  font-weight: bold;
}
.blog-public .items-row .item h2 {
  width: 462px;
  margin: 1em 0 0;
  float: right;
  font-size: 110%;
}
.blog-public .items-row .item p {
  width: 462px;
  float: right;
  position: relative;
}
#k2Container.itemListView .itemContainer .catPress .catItemImageBlock {
  width: 702px;
  float: right;
  position: relative;
}
#k2Container.itemListView .itemContainer .catPress span.catItemDateCreated  {
  color: #006f9f;
}
#k2Container.itemListView .itemContainer .catPress .catItemImage,
.blog-public .items-row .item p img {
  position: absolute;
  left: -210px;
  top: -30px;
}
.blog-public .items-row .item h2 a:hover {
  text-decoration: none;
}


/* pseudo blog style for lower position landing page module */
#lower-content {
  margin: 0 0 20px;
}
#lower-content > div {
  margin: 20px 0 0;
  padding: 0 15px 10px;
  background: #ebebeb;
  overflow: hidden;
}
#lower-content > div h3 {
  width: 462px;
  margin: 1em 0 0;
  float: right;
  font-size: 110%;
  color: #006f9f;
}
#lower-content > div p {
  width: 462px;
  float: right;
  position: relative;
}
#lower-content > div p img {
  position: absolute;
  left: -210px;
  top: -30px;
}
#lower-content > div h3 a:hover {
  text-decoration: none;
}


/* social network links */
#top-social h3 {
  margin: 6px 0 12px;
  color: #2e84a7;
  font-size: 85%;
  font-weight: bold;
  display: inline;
}
#top-social div.smile {
  display: inline;
}

.display-block{
  height: 24px;
  display: block;
}

.float-left {
  margin-right: 1em;
  float: left;
}