h1,
h2,
h3,
a {
  color: #f96304;
}

a.readon,
a.button-a {
  background: #f96304 url('../images/button-a-gcs-arrow.png') no-repeat 100% 50%;
  color: #fff;
}


#header-bottom-outer {
  border: none;
  background: transparent url('../images/gcs-nav-bg.png') repeat-x 0 0;
}
#header-bottom {
  height: 54px;
}
/* header menu - level 1 */
.nivel1 {
  border-top: 1px solid #ff8566;
  background-color: #f96304;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe3b01), to(#f6810f)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fe3b01,  #f6810f); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fe3b01', endColorstr='#f6810f'); 

/* for IE */
}
.nivel1 ul  {
  height: 32px;
  margin: -1px 0 0;
  padding: 0;
  list-style: none;
  /*z-index: 1;*/
}
.nivel1 ul li  {
  display: inline-block;
  position: relative;
  height: 32px;
  margin: 0;
  padding: 0 0 0 1px;
  background: #fbba80;
}
.nivel1 ul li:first-child  {
  padding: 0;
}
.nivel1 ul li a  {
  height: 17px;
  padding: 6px 8px 8px;
  border-top: 1px solid #ff8566;
  background-color: #f96304;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe3b01), to(#f6810f)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fe3b01,  #f6810f); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fe3b01', endColorstr='#f6810f'); 

/* for IE */
  color: #fff;
  display: block;
}
.nivel1 ul li a:hover,
.nivel1 ul li.active a  {
  border-top-color: #e9e9e9;
  background: #e9e9e9;
  filter: none;
  color: #666;
  text-decoration: underline;
}

/* header menu - level 2 */
.nivel2  {
  width: 940px;
  background-color: #e9e9e9;
}
.nivel2 ul  {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nivel2 ul li  {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 0 2px;
  background: transparent url('../images/nivel2-bar.gif') no-repeat 0 4px;
  font-weight: normal;
}
.nivel2 ul li:first-child  {
  padding: 0;
  background: none;
}
.nivel2 ul li a  {
  padding: 2px 8px 4px;
  text-decoration: none;
  color: #666;
  display: block;
}
.nivel2 ul li a:hover,
.nivel2 ul li.active a  {
  color: #009ce7;
}


#user-login,
#portal-link {
  left: 820px;
  width: 100px;
  border-top: 1px solid #ff8566;
  background-color: #f96304;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe3b01), to(#f6810f)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fe3b01,  #f6810f); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fe3b01', endColorstr='#f6810f'); 

/* for IE */
  color: #fff;
}
#user-login span.loginBtn  {
  background: #666 !important;
}
#portal-link p  {
  height: 16px;
  margin: 5px 10px 5px 0;
  padding: 1px 5px 3px;
  background: #666;
}
#portal-link p a  {
  color: #fff;
  font-size: 90%;
}
#portal-link p a:hover  {
  text-decoration: none;
}



#breadcrumb span {
  color: #f96304;
}

#breadcrumb span.showHere {
  color: #fcb080;
}

/* left menu - level 3 */
.moduletable-vmenu ul.menu  {
  border-top: 1px solid #f96304;
}
.moduletable-vmenu ul.menu li a:hover,
.moduletable-vmenu ul.menu li.active a  {
  background-color: #ffeee6;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff6f1), to(#fee8db)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff6f1,  #fee8db); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fff6f1', endColorstr='#fee8db'); 

/* for IE */
  color: #666;
}

/* left menu - level 4 */
.moduletable-vmenu ul.menu li ul li a:hover,
.moduletable-vmenu ul.menu li ul li.active a  {
  color: #f96304 !important;
}

#component-content h1 {
  border-bottom: 2px solid #f96304;
}

#user-inner > div > div > div > h3 {
  border-bottom-color: #666;
  color: #f96304;
}

#footer-outer {
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#666666)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #4f4f4f,  #666666); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4f4f4f', endColorstr='#666666'); 

/* for IE */
}

/* class styled panels */
.moduletable-gcs-greygraded {
  margin-bottom: 20px;
  padding: 1em 13px;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ffffff,  #dddddd); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#dddddd'); 

/* for IE */
  color: #f96304;
}
.moduletable-gcs-greygraded h3 {
  color: #666;
}
.moduletable-gcs-bluegraded {
  margin-bottom: 20px;
  padding: 1em 13px;
  background-color: #177ca6;
  background: -webkit-gradient(linear, left top, left bottom, from(#01709d), to(#ffffff)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #01709d,  #ffffff); /* for firefox 3.6+ */ 
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#01709d', endColorstr='#ffffff'); 

/* for IE */
  color: #fff;
}
.moduletable-gcs-bluegraded h3 {
  color: #fff;
}

/* roksprocket slideshow override */

.layout-slideshow .sprocket-features-content {
  left: 0 !important;
}

#slideshow .layout-slideshow .sprocket-features-content {
  left: 0px !important;
}


.layout-slideshow .sprocket-features-title {
  width: 250px;
  padding: 0 !important;
  background: none !important;
  color: #666 !important;
}
.layout-slideshow .sprocket-features-desc {
  width: 200px;
  padding: 0 !important;
  background: none !important;
  color: #666 !important;
  font-size: 100% !important;
  line-height: 1.35em !important;
}
.layout-slideshow .sprocket-features-arrows .prev {
  left: 0 !important;
  top: 260px !important;
}
.layout-slideshow .sprocket-features-arrows .next {
  left: 30px !important;
  top: 260px !important;
}

/* gcs home page roksprocket accordion */
#banner_top .moduletable-gcs h3 {
  padding: 5px 10px !important;
  background: rgba(195, 195, 195, 0.75) !important;
  color: #fff;
  font-size: 110% !important;
}
#banner_top ul.sprocket-lists-container li {
  padding: 0;
  background: none;
}
#banner_top ul.sprocket-lists-container li h4.sprocket-lists-title {
  border: none !important;
  border-radius: 0 !important;
  background: rgba(227, 227, 227, 0.75) !important;
  color: #f96304;
  font-size: 75% !important;
}
#banner_top ul.sprocket-lists-container li.active h4.sprocket-lists-title {
  padding: 2px 5px !important;
  background: transparent !important;
  color: #f96304;
  cursor: auto;
}
#banner_top ul.sprocket-lists-container li h4.sprocket-lists-title span.indicator {
  top: 0.5em !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
}
#banner_top ul.sprocket-lists-container li span.sprocket-lists-item {
  color: #fff;
  font-size: 75% !important;
}
#banner_top ul.sprocket-lists-container li span.sprocket-lists-item .sprocket-padding {
  padding: 2px 5px 10px !important;
}

/* member directory public partner profile */
#cbpp h5   {
  color: #f96304;
}


/* forms */
form#adminForm label  {
  padding-right: 5px;
  color: #f96304;
}

form#detail-form dl#pane.tabs dt  {
  padding: 2px 12px;
  border-right: 1px solid #fff;
  float: left;
  background-color: #f96304;
  color: #fff;
}
form#detail-form dl#pane.tabs dt.open  {
  background-color: #e9e9e9;
  color: #666;
}
form#detail-form .current  {
  padding: 20px 0 0;
  clear: left;
}
form#detail-form .current dd  {
  margin: 0;
}
form#detail-form .current dd table.dataTable td  {
  padding: 2px 4px;
  vertical-align: top;
}
form#detail-form .current dd table.dataTable th  {
  padding: 0 4px 4px 0;
  border-bottom: 2px solid #f96304;
  color: #f96304;
  text-align: left;
  white-space: nowrap;
}
form#detail-form .current dd table.dataTable tr.odd  {
  background-color: #f5f5f5;
}

form.member-form h5  {
  padding-bottom: 2px;
  border-bottom: 1px solid #f96304;
  color: #f96304;
}
form.member-form h6  {
  margin: 0;
  padding: 20px 0 0;
  color: #f96304;
  clear: left;
}
form.member-form .member-summary {
  width: 700px;
  min-height: 100px;
  margin: 10px 0 0;
  padding: 10px 10px 10px 0;
  overflow: hidden;
}
form.member-form .member-summary img {
  width: 150px;
  margin-right: 20px;
  float: left;
}
form.member-form .member-summary .member-pic {
  width: 290px;
  margin-right: 20px;
  font-size: 90%;
  float: left;
}
form.member-form .member-summary .member-detail {
  width: 390px;
  float: left;
}
form.member-form .member-social-media span {
  width: 24px;
  height: 24px;
  margin: 10px 0 0 5px;
  background: transparent no-repeat 0 0;
  text-indent: -1000em;
  display: block;
}
form.member-form .member-social-media span.partner-linked-in {
 background-image: url('/modules/mod_socialmedialinks/icons/default/size2/linkedin.png');
}
form.member-form .member-social-media span.partner-twitter {
 background-image: url('/modules/mod_socialmedialinks/icons/default/size2/twitter.png');
}
form.member-form .member-social-media span a {
  width: 24px;
  height: 24px;
  display: block;
}
form.member-form p {
  margin: 0;
  padding: 1em 0 0;
  clear: left;
}
form.member-form p label {
  width: 250px;
  padding-top: 6px;
  color: #f96304;
  float: left;
}
form.member-form p input {
  width: 350px;
  float: left;
}
form.member-form textarea {
  width: 600px;
  height: 12em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

form.member-form .member-detail p label,
form.form-validate .leftCol {
  width: 114px;
}
form.member-form .member-detail p input {
  width: 270px;
}
form.member-form .member-detail p select {
  width: 276px;
}
form.form-validate .leftCol label {
  color: #f96304;
  font-weight: normal;
}
  
/* blog style header and links - added ML 18-12-12*/
#component-content .blog-public h1 {
  padding: 0;
  border: none;
}
.blog-gcs {
  margin: 0 0 20px;
}
.blog-gcs .items-row .item {
  margin: 20px 0 0;
  padding: 0 15px 10px;
  background: #ebebeb;
  overflow: hidden;
}
.blog-gcs .items-row .item h2 {
  width: 462px;
  margin: 1em 0 0;
  float: right;
  font-size: 110%;
}
.blog-gcs .items-row .item p {
  width: 462px;
  float: right;
  position: relative;
}
.blog-gcs .items-row .item p img {
  position: absolute;
  left: -210px;
  top: -30px;
}
.blog-gcs .items-row .item h2 a:hover {
  text-decoration: none;
}
#editor-xtd-buttons {display:none;}
/*form.fabrikForm .fabrik_buttons {display:none;}*/
form.fabrikForm th span {border:none !important;}