/**
 *  Header
 */
#header-outer {
  width: 100%;
}
#header-inner {
  width: 100%;
  position: relative;
  z-index: 30;
}
#header-top {
  width: 940px;
  height: 100px;
  margin: 0 auto;
  padding: 5px 0 0;
  position: relative;
  z-index: 10;
}
#search-top {
  width: 940px;
  height: 32px;
  margin: 0 auto;
  text-align: right;
  line-height: 32px;
}
#header-left {
  float: left;
}
#header-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
}
#header-right p {
  margin: 0.5em 0 0;
}
#search {
  float: right;
  width: 179px;
  position: relative;
  margin: 0;
}
#search input.inputbox {
  width: 142px;  /* Total width 150 */
  height: 15px;
  padding: 4px;
  border: 0;
}

#header-bottom-outer {
  width: 100%;
}
#header-bottom {
  width: 940px;
  height: 38px;
  margin: 0 auto;
  position: relative;
  /*z-index: 0;*/
  clear: both;
  overflow: visible;
}

#user3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 820px;
  font-size: 13px;
  font-weight: bold;
}
#user3.FullWidth {
  width: 940px;
}
#user-login,

#user-panel .moduletable div {
  width: auto;
  display: inline;
}
#user-panel .moduletable,
#user-panel .moduletable a.selectBtn,
#user-panel .moduletable a.selectBtn span.loginBtn,
#user-login .moduletable a.selectBtn span.loginBtn {
  display: inline;
}

/**
 *  Content
 */
#content-outer {
  width: 100%;
  overflow: visible;
  clear: both;
}
#content-inner {
  width: 940px;
  min-height: 240px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
}
#content-inner .item-page ul.actions {
  position: absolute;
  top: 0;
  right: 8px;
}
#image-navigation {
  width: 2004px;
  margin: -35px 0 -50px -532px;
  position: relative;
  z-index: 10;
}
#image-navigation.no-overlap {
  width: 940px;
  margin: 10px 0;
}
#banner_top .moduletable {
  position: absolute;
  left: 1269px;
  top: 55px;
  z-index: 20;
}
#banner_top .moduletable-gcs {
  position: absolute;
  left: 637px;
  top: 5px;
  width: 300px;
  z-index: 20;
}
#image-navigation p,
#banner_top p {
  margin: 0;
}
#top-outer {
  width: 100%;
  overflow: visible;
}
#top-inner {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  clear: both;
  overflow: hidden;
}
#top-upper {
  width: 1000px;
  margin: 0;
  clear: both;
  overflow: hidden;
}
#top-upper > div {
  width: 220px;
  padding: 0 20px 0 0;
  float: left;
}
#centre-content{
  margin-bottom: 30px;
}
#left-content {
  /*width: 220px;*/
  width: 150px;  /* Modified by ML 25-10-2012 */
  margin-bottom: 30px;
  padding: 0 20px 0 0;
  float: left;
}
#middle-content #centre-content {
  /*min-height: 280px;
  width: 460px;*/
  width: 520px;  /* Modified by ML 25-10-2012 */
  float: left;
}
#middle-content.NoLeft #centre-content,
#middle-content.NoRight #centre-content {
  width: 700px;
}
#middle-content.FullWidth #centre-content {
  width: 940px;
}
#right-content {
  width: 220px;
  margin-bottom: 30px;
  float: right;
}

/**
 * international member firm listings
 */
.member-offices {
  width: 310px;
  float: left;
}
.member-office-list {
  /*height: 400px;
  overflow-y: scroll;*/
}
.member-profile-outer {
  width: 940px;
}
.member-lists,
.member-office-summary,
.member-profile {
  width: 610px;
  float: right;
}
.member-office-summary > div.member-office-data {
  width: 350px;
  float: left;
}
.member-office-summary > div.member-office-images {
  width: 250px;
  float: right;
}

/*
 *  User links
 */

#user-outer {
  width: 100%;
  overflow: hidden;
  clear: both;
}
#user-inner {
  width: 940px;
  margin: 0 auto;
  padding: 0 0 20px;
  position: relative;
  overflow: hidden;
  z-index: 20;
}
#user-upper {
  width: 940px;
  overflow: hidden;
}
#user2 {
  float: left;
}
#user4 {
  float: right;
}
#user-lower {
  width: 1000px;
  margin: 20px 0 0;
  clear: both;
  overflow: hidden;
  position: relative;
}
/*#user-lower > div {
  width: 310px;
  margin: 0 15px 0 0;
  padding: 0 0 6px;
  float: left;
}
#user-lower > div#user6,
#user-lower > div#user7 {
  padding-bottom: 35px;
}*/

#user-lower div h3 {
  border-bottom-width: 1px;
}
/*#user-lower > div .moduletable-viewall {
  position: absolute;
  bottom: 19px;
}
#user-lower > div#user6 .moduletable-viewall {
  left: 325px;
}
#user-lower > div#user7 .moduletable-viewall {
  left: 650px;
}*/


/*
 *  Footer
 */

#footer-outer {
  padding: 30px 0;
  clear: both;
}
#footer-inner {
  width: 940px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#footer-inner > div {
  width: 123px;
  margin: 0 0 -10000px;
  padding: 0 16px 10000px;
  border-right: 1px solid #fff;
  color: #fff;
  float: left;
}
#footer-inner div#footer3 {
  width: 156px;
  margin: 0;
  padding: 0 16px;
  border: none;
}
#footer-inner div#footer4 {
  width: 392px;
  margin: 0;
  padding: 0 16px;
  border: none;
}
#footer-inner ul { margin: 0; }
#footer-inner li {
  margin: 0 0 0.25em;
  color: #fff;
  font-size: 90%;
  list-style: none;
}
#footer-inner p {
  margin: 0 0 1em;
  color: #fff;
  font-size: 90%;
}

#footer-inner h3 {
  margin: 0 0 1em;
  color: #fff;
  font-size: 100%;
}

#footer-inner .moduletable-connect h3 {
  margin: 0;
  font-weight: normal;
}

/* footer social media */
#footer-inner .smile a {
  margin: 4px 8px 4px 0 !important;
}

/* footer copyright */
#copyright-inner {
  width: 940px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  clear: both;
}
#copyright {
  clear: both;
}
#copyright p {
  margin: 2em 0 0;
  padding: 0 16px;
  color: #fff;
  font-size: 90%;
}

/* slideshow readon outside box */
.sprocket-features-desc {
  position: relative;
}
.sprocket-features-desc a.readon {
  position: absolute;
  left: 0;
  bottom: -40px;
}

/* q&d fix of zaragoza menu */
.nivel3,
.nivel4 {
  display: none;
}

/* category blog column css copied from beez_20 */
/* ++++++++++++++  position  ++++++++++++++ */

.blog-featured
{
        padding: 0;
}

.items-leading
{
        padding:0px 5px 10px 5px;
        overflow:hidden;
        margin-bottom:10px
}

.row-separator
{
        display: block;
        clear: both;
        margin: 0;
        border: 0px;
        height:1px
}

.item-separator
{
        display: none;
        margin: 0px;
}

.shownocolumns
{
        width:98% !important;
}

#top
{
        margin:0 0 20px 0;
        overflow:hidden
}

/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.column-1,
.column-2,
.column-3
{
        padding:10px 5px
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
}

/**
 * cb profile
 */
.cb-photo {
  width: 150px;
  float: left;
}
.cb-person {
  width: 500px;
  padding-left: 30px;
  float: left;
}
.member-profile .cb-person {
  width: 430px;
}
.cb-bio,
.cb-interests,
.cb-info {
  margin: 20px 0 0;
  clear: both;
  overflow: hidden;
}
.cb-contact {
  width: 200px;
  margin: 20px 0 0;
  float: left;
}
.cb-social {
  width: 450px;
  margin: 20px 0 0;
  float: right;
}